@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #191C24;
}
a{
    text-decoration: none;
    color: #fff;
    
}
h1{
    color: #fff;
}
img{display: block;}

.container{
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
   

}
.nav-links{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10rem;
}
li{
    list-style-type: none;
}

.nav-links li a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.item-icon img {
    width: 20px;  
    height: 20px;
}

.header {
    background-color: #4B5E87;
    color: #fff;
    padding: 15px 0;
    border-radius: 0px 0px 3px 3px;
    position: sticky;   
    top: 0;  
}

.head-my-name{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;

}
.head-my-name span{
    color: #7D96CB;
}
.main{
       
    padding: 5rem 0;
    background-color: #191C24;
    color: #fff;
    border-radius: 3px;
    margin-top: 8rem;
   
    
}

main section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.main-text{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}
.main-pic{
    display: block;
    position: relative;

}

.head-my-job{
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 36px;
    color: #999292;
}
.btn-more{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 350px;
    height: 65px;
    background-color: #4B5E87;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    
    margin-top: 3rem;
    margin-bottom: 3rem;

   
}
.btn-more:hover{
    background-color: #52648d;
    transform: scale(1.009);
    transition: 0.3s;
}