@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #3e3e41;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: #3a4b6c; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5b72a3;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #191c24;
  overflow: hidden;
}
body, html {
  width: 100%; 
  /* pull */
  overflow-x: hidden;
}

p, h1, h2, h3 {
  word-wrap: break-word;
}
section, div, p {
  min-width: 0;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
h1 {
  color: #fff;
}
img {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10rem;
}
li {
  list-style-type: none;
}

.nav-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 5px;
}
.item-icon img {
  width: 20px;
  height: 20px;
}

.header {
  background-color: #4b5e87;
  color: #fff;
  padding: 15px 20px;
  border-radius: 0px 0px 3px 3px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.head-my-name {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.head-my-name span {
  color: #7d96cb;
}
.main {
  background-color: #191c24;
  color: #fff;
  border-radius: 3px;
  margin-top: 20vh;
  height: 100%;
}

main section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.main-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
.main-pic {
  display: block;
  position: relative;
}

.head-my-job {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 36px;
  color: #999292;
}
.btn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 350px;
  height: 65px;
  background-color: #4b5e87;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  margin-top: 3rem;
  margin-bottom: 3rem;
}
.btn-more:hover {
  background-color: #52648d;
  transform: scale(1.009);
  transition: 0.3s;
}

.get-know-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}
.get-know-me h1 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
.get-know-me p {
  font-size: 1.5rem;
  width: 700px;
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 29px;
  color: #ffffff;
  font-size: medium;
}
.get-know-me p a {
  color: #7d96cb;
  font-weight: bold;
  cursor: pointer;
}
.get-know-me-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
.contact-anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 350px;
  height: 65px;
  background-color: #4b5e87;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-skills {
  margin-top: 10rem;
}
.my-skills h1 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 3rem 0;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 53px;
  background-color: #4b5e87;
  border-radius: 4px;
  padding: 1rem;
  color: #fff;
}
.skill p {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
}
.projects {
  margin-top: 10rem;
}
.projects h1 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 3rem 0;
}
.project img {
  width: 250px;
  height: 250px;
}

.project-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
.project-text h2 {
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: #9eb7ec;
}
.project-text p {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 29px;
  color: #ffffff;
  font-size: medium;
}
.projects .project:nth-child(2n) {
  flex-direction: row-reverse; /* This flips the order */
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 20rem;
}
.contact-form {
  color: #fff;
  background-color: #384561;
  padding: 2.5rem 2rem;
  margin-bottom: 20rem;
}
.contact-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
}

.contact-name label {
  font-size: small;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  margin-bottom: 20px;
  background-color: #777c89;
}
input:focus {
  outline: none;
}
input::placeholder {
  font-family: "Poppins", sans-serif;
  color: #d9d9d9;
  font-size: smaller;
}

.txt-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
  font-size: small;
  overflow: hidden;
}

.txt-area textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  margin-bottom: 20px;
  background-color: #777c89;
}
.txt-area :focus {
  outline: none;
}
.txt-area textarea::placeholder {
  font-family: "Poppins", sans-serif;
  color: #d9d9d9;
  font-size: smaller;
}

button {
  background-color: #4e6188;
  color: white;
  padding: 10px;
  width: 100px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

button:hover {
  background-color: #3a5c85;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #4e6188;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  bottom: 0;
  height: 20rem;
  gap: 15px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left,
.right {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  gap: 20px;
  font-family: "Poppins", sans-serif;
}

.right {
  text-align: right;
}

.social-icons a {
  margin: 0 5px;
  display: inline-block;
}

.social-icons img {
  width: 20px;
  height: 20px;
}

hr {
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  margin: 15px 0;
}

.copyright {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}




.nav-links a:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}


.burger {
  display: none; /* Hide burger menu by default */
  font-size: 28px;
  color: white;
  cursor: pointer;
}
.webicon{
  display: none; 
}
/* Media Query for Small Screens (Mobile) */
@media (max-width: 1112px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #2b3854;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
}

.nav-links li {
    text-align: center;
    padding: 10px 0;
}

.burger {
    display: block; /* Show burger menu */
    width: 30px;
    align-self: flex-end;
    margin-right: 10px;

}

.nav-links.active {
    display: flex;
} 
.header{
  width: 100%;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.webicon{
  display: block;
}
.nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section{
  flex-direction: column;
  padding: 14px;

}

.main-text {
  gap:1rem;
}
.btn-more {
  display: flex
;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 250px;
  height: 50px;
  background-color: #4b5e87;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 0;
}
.frm-know-me{
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-know-me {
  align-items: center;
}
.my-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills{
  justify-content: center;
  gap:1rem;
}
.project{
  flex-direction: column;
}
.projects .project:nth-child(2n) {
   flex-direction: column;
}
.project-text {
justify-content: center;
align-items: center;
}
.project-text p{
  text-align: center;
}
.footer{
  padding: 2px 0px;
}
.left h3{
  font-size: small;
}
.left p{
  font-size: small;
}

.right h3{
  font-size: small;
}
}
